
:root {
    --colorback: rgba(15, 15, 15, 1)
}

body {
    margin: 0;
    background-color: var(--colorback);
    font-family: Helvetica;
}

.content {
    padding-top: 50px;
    background-color: var(--colorback);    
}

div.cover:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    z-index: -10;
    background:linear-gradient(to top, var(--colorback), rgba(15, 15, 15, 0)) no-repeat bottom/100% 75%, url(agapetoile2-credit_aurelie.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*div.cover { 
    background: linear-gradient(to top, var(--colorback), rgba(20, 20, 20, 0)) no-repeat bottom/100% 75%, url(agapetoile2-credit_aurelie.jpg) no-repeat center/cover;     
    height: 350px; 
    width: 100%;   
}*/

h1 {      
    font-size: 100px;
    color: white;
    text-align: start;
    margin: 0;
    margin-left: 5%;
    margin-right: 0;
    padding-top: 250px;
}

div.rezo {
    margin-left: 5%;
}

div.rezo-box {
    margin-right: 15px;
    display: inline-block;
}

div.rezo img {
    margin-top: -5px;
    height: 23px; 
    width: 23px;
    display: block;
}

div.rezo img:hover {
    opacity: 0.5;
}

div.underline {           
    border: 1px solid rgb(59, 59, 59);
    margin-left: 150px;    
    margin-top: -17px;
    
}

div.object {
   display: block;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   

}


div.object h2 {
    margin-top: 0;  
    margin-bottom: 0px;  
    text-align: end;       
    color: rgb(100, 100, 100);
    font-size: 35px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    padding-left: 2%;
    padding-right: 2%;
}


div.obj-info * {
    color: rgb(255, 255, 255);
    margin-bottom: -5px;
    display: block;
    font-size: 19px;
    padding-left: 1%;
    padding-right: 1%;
    text-shadow: 0px 0px 8px rgb(20, 20, 20);
}

div.obj-info i {
    float: left;
    margin-top: 5px;
    
}

div.obj-info b {
    text-align: end;
    float: right;
    font-size: 23px;
    margin-top: 5px;
}

div.object-box {        
    display: inline;
}

.object-box img {
    max-height: 350px;
    width: 100%;    
    margin-bottom: 0px;   
    /*object-fit: cover; 
    position: relative;
    background-attachment: fixed;*/
}


div.object-box iframe {        
   margin-top: 10px;
   margin-bottom: 10px; 
   width: 100%;
   height: 350px;
   
}

.EP2x {
    content: "";
    display: inline-block;
    width: 100%;
    height: 350px;    
    background:url("EP2cover1500.jpg");  
    
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}

/*.EP2x {
    /* The image used 
    background: url("EP2cover1500.jpg");
    margin: 10px 0;
    /* Set a specific height 
    height: 315px;
    width: 100%;   
    /* Create the parallax scrolling effect     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    
}*/

.EP1x {
    /* The image used */
    background: url("EP1cover1500.jpg");
    margin: 20px 0;
    /* Set a specific height */
    height: 315px;
    width: 100%;   
    /* Create the parallax scrolling effect */
    background-attachment: fixed; /*fixed*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
        /*1500px*/
}

/* BIO */

div.object p {
    font-size: 14px;
    margin-top: 10px;
    color: white;
    text-align: justify;
    line-height: 1.6;
    font-weight: 100;
}

.bio * {
    padding-left: 2%;
    padding-right: 2%;
}


@media only screen and (max-width: 380px) {

    h1 {
        font-size: 60px;
    }

    div.rezo img {
        margin-top: -5px;
        height: 19px; 
        width: 19px;
        display: block;
    }

    div.object h2 {     
        font-size: 25px;
    }

    /*.EP2x {
        /* The image used */
        /*background: url("EP2cover1500.jpg");*/
        /* Set a specific height 
        height: 315px;
        width: 100%;   
        /* Create the parallax scrolling effect 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        
      }*/

      .EP2x {
        background: url(EP2cover1500.jpg) no-repeat center center;
        /*content: "";
        display: block;
        position: relative;*/
        
        width: 100%;
        height: 250px;
        /*z-index: -10;*/
        background-attachment: initial; /*fixed*/
        background-position: center;
        background-repeat: no-repeat;
        
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;*/
        background-size: cover;

      }
    
      .EP1x {
        /* The image used */
        background: url("EP1cover1500.jpg");
        margin: 20px 0 20px 0;
        /* Set a specific height */
        height: 250px;
        width: 100%;   
        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-attachment: initial;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        /*background-size: 900px;*/
      }

      div.object-box iframe {
          height: 250px;
      }

      div.obj-info * {
        font-size: 13px;       
      }
            
      div.obj-info b {
            font-size: 15px;
      }

}

@media only screen and (min-width: 1250px) {

    div.object-box iframe {
        margin-bottom: 20px;
    }

    div.object {  
        max-width: 1050px;           
        display: block;
                       
    } 
    
    .categorie {
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
        
    }

    div.object-box {        
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
                
    }

    /*div.object-box:first-child * {
        margin-left: 500px; 
    }*/

    div.object-box img {    
        width: 500px;
        display: inline-block;
        max-height: 500px;       
    }

    div.object h2 {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;  
        margin-bottom: 0;  
        text-align: end;
        font-size: 40px;
    }

   

    .bio * {      
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    div.object p {
        font-size: 20px;
    }

    div.bio h2 {
        margin-left: auto;
        margin-right: auto;
    }

    div.object-box iframe {
        width: 500px;
        height: 315px;
        
    }

    .EP2x {
        /* The image used */
        /*background: url("EP2cover1500.jpg");*/
        /* Set a specific height */
        height: 500px;   
        width: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;            
      }

      .EP1x {
        /* The image used */
        background: url("EP1cover1500.jpg");
        margin: 10px 0;
        /* Set a specific height */
        height: 500px;
        width: 500px;   
        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

}

